<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/index.css}" media="all">
</head>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<body class="layui-bg-gray">
<div class="layui-row">
    <!--<div class="layui-col-xs1">&nbsp;</div>-->
    <div class="layui-col-xs12">
        <!-- 头部部分-->
        <div class="header layui-bg-cyan">
            <div class="layui-row">
                <div class="layui-col-xs8 fontCenter">
                    大学生社团管理系统
                </div>
                <div class="layui-col-xs4 fontCenter">
                    <span id="currentDate"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#" class="linkButton" style="color: white; text-align: right">登录</a>
                </div>
            </div>
        </div>
        <div class="layui-carousel" id="test1">
            <div carousel-item>
                <div><img th:src="@{/image/lunbo01.jpg}" width="100%" height="450px"/></div>
                <div><img th:src="@{/image/lunbo02.jpg}" width="100%" height="450px"/></div>
                <div><img th:src="@{/image/lunbo03.jpg}" width="100%" height="450px"/></div>
                <div><img th:src="@{/image/lunbo04.jpg}" width="100%" height="450px"/></div>
                <div><img th:src="@{/image/lunbo05.jpg}" width="100%" height="450px"/></div>
            </div>
        </div>
        <!-- 卡片-->
        <!--<div class="layui-row">-->
            <!--<div class="layui-col-xs12">-->
                <div style="padding: 20px; background-color: #F2F2F2;">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md4">
                            <div class="layui-card">
                                <div class="layui-card-header">新闻</div>
                                <div class="layui-card-body">
                                    卡片式面板面板通常用于非白色背景色的主体内<br>
                                    从而映衬出边框投影
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-card">
                                <div class="layui-card-header">公告</div>
                                <div class="layui-card-body">
                                    结合 layui 的栅格系统<br>
                                    轻松实现响应式布局
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md4">
                            <div class="layui-card">
                                <div class="layui-card-header">法律法规</div>
                                <div class="layui-card-body">
                                    结合 layui 的栅格系统<br>
                                    轻松实现响应式布局
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        <!--</div>-->

        <!--底部 -->
        <div class="layui-row">
            <div class="layui-col-xs12">
            </div>
        </div>
    </div>
    <!--<div class="layui-col-xs1">&nbsp;</div>-->
</div>

<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , height: '450px'
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
    function getDate() {
        //获取当前时间
        var date = new Date();
        //格式化为本地时间格式
        var date1 = date.toLocaleString();
        //获取div
        var div1 = document.getElementById("currentDate");
        //将时间写入div
        div1.innerHTML = date1;
    }
    //使用定时器每秒向div写入当前时间
    setInterval("getDate()", 1000);
</script>
</body>
</html>